body{
	font-family: 'Lato', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background: rgb(0, 0, 0);
}
[class*="__container"]{
	max-width: 1024px;
	margin: 0px auto;
}
@keyframes drone-back{
	0%{
		top: 100px;
		left: 100px;
		transform: rotate(10deg);
	}
	50%{
		top: 200px;
		left: 500px;
	}
	100%{
		top: 30px;
		left: 500px;
		transform: rotate(-10deg);
	}
}
@keyframes drone-active{
	0%{
		/* box-shadow: 1px 2px 1px rgba(114, 209, 253, 0); */
		top: 200px;
		left: 600px;
		transform: rotate(0deg);
	}
	90%{
		/* box-shadow: 1px 2px 30px rgb(114, 209, 253); */
		top: 300px;
		right: 20px;
		height: 30%;
		width: 30%;
		border-radius: 100%;
	}
	100%{
		/* box-shadow: 1px 2px 50px rgb(97, 200, 248); */
		top: 400px;
		right: 100px;
		height: 30%;
		width: 30%;
		border-radius: 100%;
	}
}
@keyframes plant{
	0%{
		opacity:1 ;
		background: rgb(70, 235, 70);
		height: 100%;
	}
	100%{
		opacity: .2;
		background: rgb(98, 146, 10);
		height: 2%;
	}
}
@keyframes plant-problem{
	0%{
		border: 1px solid yellow;
	}
	50%{
		border: 2px solid rgb(245, 245, 151);
	}
	100%{
		border: 1px solid rgb(255, 94, 0);
	}
}
@keyframes plant-life{
	0%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(10deg);
	}
}
@keyframes neon-light{
	0%{
		background-color: rgb(185, 46, 250);
		opacity: .2;
		visibility: hidden;


	}
	50%{
		background-color:rgb(0, 217, 255);
		box-shadow: inset 10px 10px 30px rgb(50, 207, 255);

	}
	100%{
		background-color:rgb(255, 38, 0);
		box-shadow: inset 10px 10px 30px rgb(255, 57, 50);
	}
}
@keyframes link{
	0%{
		border: 1px solid rgb(235, 77, 37);
		color:white;
	}
	50%{
		border: 1px solid rgb(235, 149, 37);
		color:white;
	}
	100%{
		border: 1px solid yellow;
		color:white;
	}
}
#light{
	opacity: .5;
}
#light:target{
	opacity: 1;
}
.main{}
#lamp1:target{animation-name:neon-light;}
#lamp2:target{animation-name:neon-light;}
#lamp3:target{visibility: hidden;}
#lamp4:target{animation-name:neon-light;}
#lamp5:target{opacity: .2;}

.main__container{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	padding: 20px;
	position: relative;
}
.showcase__section{
	z-index: 200;
	position: relative;
	max-width: 1024px;
	height: auto;
	border: 1px solid red;
	margin: 0px auto;
}
.showcase__background{
	background: url(../img/bg/background.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}
.showcase__menu{
	z-index: 10;
	position: absolute;
	bottom:0px;
	left: 0px;
	padding: 15px 10px;
}
.showcase__menu a{
	font-size: 16px;
	padding: 5px 10px;
	margin-right: 10px;
	border: 1px solid yellow;
	/* background: yellow; */
	border-radius: 5px;
}
.showcase__menu a:hover{
	animation-name:link;
	animation-duration: .3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	font-size: 16px;
	padding: 5px 10px;
	margin-right: 10px;
	border: 1px solid rgb(199, 70, 10);
	border-radius: 5px;
}
.showcase__drone:hover{
	animation-play-state: paused;
	border:1px solid yellow;
}
.showcase__drone:hover::after{
	content: 'Є проблемні рослини на полицях';
	font-size: 20px;
	position: absolute;
	top:-100px;
	left:0px;
	color:white;
	width: 200px;
	background: red;
	padding: 10px;
}
.showcase__drone{
	top: 20px;
	left:20px;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	animation-name: drone-active;
}
.showcase__drone,.back{
	z-index: 2;
	position: absolute;
	width:100px;
	height:100px;
	padding: 0px;
	background: url(../img/icons/drone.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.back{
	top: 150px;
	left:300px;
	z-index: 1;
	width: 80px;
	height: 80px;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	/* animation-play-state:running;	 */
	animation-name: drone-back;
}
.showcase__wrapper{
	z-index: 1;
	position: relative;
	height: 500px ;
	width: 800px;
	margin:0px auto;
}
.showcase__light-reflex{
	opacity: .1;
	z-index: 0;
	box-shadow: 0px 1px 10px rgb(255, 255, 255);
	border-radius: 100%;
	width: 200%;
	height: 20%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	bottom: -10%;
	left: -50%;
	padding: 20px;

}
.showcase__column:nth-child(1){
	z-index: 6;
	border-left: 10px solid rgb(182, 182, 182);
	border-right: 10px solid rgb(151, 151, 151);
	position: absolute;
	bottom: 100px;
	left: 140px;
	width: 30%;
	height: 60%;
}
.showcase__column:nth-child(2){
	z-index: 6;
	border-left: 10px solid rgb(182, 182, 182);
	border-right: 10px solid rgb(151, 151, 151);
	position: absolute;
	bottom: 100px;
	right: 140px;
	width: 30%;
	height: 60%;
}
.showcase__column:nth-child(3){
	opacity: .8;
	z-index: 4;
	border-left: 10px solid rgb(182, 182, 182);
	border-right: 10px solid rgb(151, 151, 151);
	position: absolute;
	bottom: 120px;
	left: 170px;
	width: 27%;
	height: 55%;
}
.showcase__column:nth-child(4){
	opacity: .8;
	z-index: 4;
	border-left: 10px solid rgb(182, 182, 182);
	border-right: 10px solid rgb(151, 151, 151);
	position: absolute;
	bottom: 120px;
	right: 170px;
	width: 27%;
	height: 55%;
}
.showcase__shelf{
	position: relative;
	z-index: 10;
}
.shelf{}
.shelf__light{
	animation-duration: .3s;
	animation-iteration-count: 5;
	animation-timing-function: linear;
	animation-direction: reverse;
	animation-play-state: running;
	animation-fill-mode: forwards;
	z-index:3;
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 5px;
	background: rgb(115, 255, 225);
	margin: 0px auto;
}
.shelf__light::after{
	content: "";
	width: 100%;
	height: 60px;
	position: absolute;
	top:4px;
	left: 0px;
	background: linear-gradient(rgba(255, 251, 28, 0.4), rgb(255, 255, 255,.1));
}
.shelf__item{
		position: relative;
	border-bottom: 5px solid rgb(134, 134, 134);
	height: 40px;
	margin-bottom: 30px;
}
.plant{}
.plant__pot{
	border-top: 1px solid rgb(216, 216, 216);
	border-left: 1px solid rgb(216, 216, 216);
}
.pot{	
	position: relative;
	z-index: 4;
	margin:0px 5px;
	display: inline-block;
	bottom: -10px;
	width: 13%;
	height: 72%;
	border-radius: 3px;
	background: linear-gradient(rgb(70, 65, 26),rgb(48, 31, 5));
}
.plant-problem1{
	animation-name: plant-problem;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}
#plant1,#plant2,#plant3,#plant4{
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
	animation-direction:alternate-reverse ;
	animation-play-state:running;
	animation-fill-mode: forwards;
	border-radius: 20px 1px 33px 0px;
	position: absolute;
	z-index: 2;
	transform: rotate(4deg);
	width: 20%;
	height: 0%;
	left: 14px;
	bottom: 22px;
	background-color: rgb(21, 255, 0);
}
#plant1:target{animation-name: plant;}
#plant2:target{animation-name: plant;}
#plant3:target{animation-name: plant;}
#plant4:target{animation-name: plant;}
.plant__pot:hover{
	border: 1px solid rgb(0, 255, 42);

}
.pot__onion{
	animation-name: plant-life;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
	animation-fill-mode: forwards;
	border-radius: 20px 1px 33px 0px;
	position: absolute;
	z-index: 2;
	transform: rotate(4deg);
	width: 20%;
	height: 100%;
	left: 14px;
	bottom: 22px;
	background-color: rgb(21, 255, 0);
}
.pot__onion::after{
	content: "";
	position: absolute;
	height: 80%;
	width: 50%;
	left: 5px;
	transform: rotate(30deg);
	bottom: 0px;
	background-color: rgb(50, 209, 50);
}
.pot__onion::before{
	content: "";
	position: absolute;
	height: 90%;
	width: 50%;
	right: 8px;
	transform: rotate(-34deg);
	bottom: -3px;
	background-color: rgb(45, 192, 45);
}